APP_NAME="Reverb Server"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-domain.com

DB_CONNECTION=sqlite

REVERB_HOST=your-domain.com
REVERB_PORT=443
REVERB_SCHEME=https

APP_IMAGE_TAG=latest
